html {
    background-color: #eee;
    padding: 0.5em 1em;
}

h1,h2,h3,h4 {
    display: block;
}

label {
    display: inline-block;
    width: 200px;
    margin: 5px;
    text-align: left;
}

input[type=text]{
    display: inline-block;
    width: 200px;
}

.center{
    text-align: center;
}

span {
    display: inline-block;
    width: 200px;
    margin: 5px;
    text-align: center;
}

/*START Navbar*/
.navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(110, 110, 110);
    color: #ffccff;
 }

 #color {
    color: lightseagreen;
}

 /*END Navbar*/

.pageheader {
    color: black;
    text-align: center;
    padding: 25px;
}

/* .container{
    height: 400px;
} */
.row {
    text-align: center; 
    padding: 15px;
}

.fancy1 h1{
	font-family: 'Liu Jian Mao Cao', cursive;
	font-size: 85px;
}
img{
    height: 200px;
    width: 150px;
}

.card {
background-color: #ffccff; 
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
border: 1px solid lightseagreen; 
margin: 10px;
/* border: 1px black;
box-shadow: 0 2px 4px 0 white; */
}

/* .background {
    background-image: url(https://images.unsplash.com/photo-1502847427791-d0194ec4cff4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1190&q=80);
    background-repeat: no-repeat;
    background-size: cover;
} */

.fixed {
    position: fixed;
}